html
  head
    title= title
    style
      include style.css
  body
    h1= message
    ul
      each session in data
          li(class='session')!= '<a href="/' + session.id + '"> session ' + session.id + ' <b>['+session.time+'] </b>   ' + '<span style="white-space: pre-wrap" > messages count '+session.events.length+'</span>' + '</a>'